.header {
    display: flex;
    align-items: center;
}

.header a {
    display: flex;
    align-items: center;
    text-decoration: none;
    padding-left: 40px;
}

.header logo {
    max-height: 32px;
    margin-top: 10px;
}

.header .title-group {
    padding-left: 25px;
}

.header .title-group i {
    padding-right: 5px;
    margin-left: 10px;
}